.page{
    background-color: #a63939;
    width: 1420px;
    /* margin: 2px; */
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px;
    border-radius: 0 0 20px 0;
}
.btn{
    width: 10px;
}